@charset "UTF-8";
/****Fonts****/
@font-face {
  font-family: "OpenSans";
  src: local(OpenSans), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "OpenSans";
  src: local(OpenSans), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-display: swap; }

/****Colors****/
/****Adaptive****/
/****Global****/
.page {
  box-sizing: border-box; }

*,
::before,
::after {
  box-sizing: inherit; }

.page-body {
  margin: 0;
  padding: 0;
  color: #000000;
  background: #ffffff;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px; }

.container {
  max-width: none;
  margin: 0 auto;
  padding: 0 30px; }
  @media screen and (min-width: 420px) {
    .container {
      padding: 0;
      max-width: 400px; } }
  @media screen and (min-width: 767px) {
    .container {
      max-width: 668px; } }
  @media screen and (min-width: 1150px) {
    .container {
      max-width: 1050px; } }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer; }

p {
  margin: 0; }

button {
  padding: 0; }

picture {
  background-color: #d6d6d6;
  display: flex; }

/****Elements****/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.second-heading {
  margin: 0;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px; }
  @media screen and (min-width: 767px) {
    .second-heading {
      font-size: 43px;
      line-height: 50px; } }
  @media screen and (min-width: 1150px) {
    .second-heading {
      font-size: 53px;
      line-height: 57px; } }

.standart-text {
  margin: 0; }

.standart-table {
  width: 100%; }

/****Header****/
.header-top {
  position: relative;
  background-color: #ffffff; }
  .header-top .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 767px) {
      .header-top .container {
        position: relative;
        flex-direction: row;
        justify-content: space-between; } }
  @media screen and (min-width: 767px) {
    .header-top::after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1); } }

.main-header__logo {
  margin: 22px 0;
  transition: opacity .3s ease; }
  .main-header__logo:hover, .main-header__logo:focus {
    opacity: 0.6; }
  .main-header__logo:active {
    opacity: 0.3; }
  .main-header__logo img {
    width: 86px; }
    @media screen and (min-width: 767px) {
      .main-header__logo img {
        width: 113px; } }
    @media screen and (min-width: 1150px) {
      .main-header__logo img {
        width: 149px; } }
  @media screen and (min-width: 767px) {
    .main-header__logo {
      margin: 0; } }
  @media screen and (min-width: 1150px) {
    .main-header__logo {
      margin-right: 26px; } }

.logo-pic {
  background-color: transparent; }

.main-nav {
  width: 100%;
  position: relative; }
  .main-nav__toggle {
    width: 21px;
    height: 20px;
    position: absolute;
    top: -51px;
    right: 30px;
    border: none;
    outline: none;
    background-image: url(../img/icons/menu-close.svg);
    background-repeat: no-repeat;
    background-color: #fff; }
    .main-nav__toggle.menu__closed {
      top: -47px; }
    @media screen and (min-width: 767px) {
      .main-nav__toggle {
        display: none; } }
  .main-nav__inner {
    display: block; }
    @media screen and (min-width: 767px) {
      .main-nav__inner {
        flex-grow: 1; } }
  .main-nav__closed {
    display: none; }
    @media screen and (min-width: 767px) {
      .main-nav__closed {
        width: unset;
        display: block; } }
  .main-nav__list {
    margin: 0;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 767px) {
      .main-nav__list {
        height: 88px;
        flex-direction: row;
        align-items: center; } }
  @media screen and (min-width: 767px) {
    .main-nav {
      position: static;
      width: 350px;
      display: flex; } }

.menu-closed {
  height: 14px;
  background-image: url(../img/icons/burger.svg); }

@media screen and (min-width: 767px) {
  .user-list .site-search {
    width: 84px;
    display: flex;
    justify-content: center; }
    .user-list .site-search .nav-text {
      display: none; }
    .user-list .site-search .site-list-icon {
      position: static; } }

@media screen and (min-width: 767px) {
  .user-list .cart {
    flex-grow: 1; } }

@media screen and (min-width: 767px) {
  .user-list .cart .nav-text {
    position: absolute;
    right: 0; } }

@media screen and (min-width: 1150px) {
  .user-list .cart .nav-text {
    right: 2px; } }

.user-list__item:hover path, .user-list__item:focus path {
  opacity: 1;
  fill: #63D1BB; }

.user-list__item:hover .nav-text, .user-list__item:focus .nav-text {
  opacity: 0.6; }

.user-list__item:active path {
  opacity: 0.3;
  fill: #63D1BB; }

.user-list__item:active .nav-text {
  opacity: 0.3; }

@media screen and (min-width: 767px) {
  .user-list__item {
    border-left: 1px solid rgba(0, 0, 0, 0.1); } }

@media screen and (min-width: 767px) {
  .user-list {
    justify-content: flex-end; } }

.site-list {
  position: relative; }
  @media screen and (min-width: 767px) {
    .site-list .nav-text {
      margin-left: 0; } }
  .site-list__item {
    background-color: transparent; }
    @media screen and (min-width: 767px) {
      .site-list__item + .site-list__item {
        margin-left: 36px; } }
    @media screen and (min-width: 1150px) {
      .site-list__item + .site-list__item {
        margin-left: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.1); } }
    .site-list__item:hover .nav-text, .site-list__item:focus .nav-text {
      opacity: 0.6; }
    .site-list__item:active .nav-text {
      opacity: 0.3; }
    @media screen and (min-width: 1150px) {
      .site-list__item:nth-child(1) {
        padding-right: 35px; }
      .site-list__item:nth-last-child(1) {
        padding-left: 35px; } }
  .site-list__link {
    height: 100%;
    align-items: center;
    display: flex; }
    @media screen and (min-width: 767px) {
      .site-list__link.nav-text {
        font-size: 15px; } }
    @media screen and (min-width: 1150px) {
      .site-list__link.nav-text {
        font-size: 17px; } }
  .site-list-icon {
    position: absolute;
    left: 10%; }
    @media screen and (min-width: 1150px) {
      .site-list-icon {
        left: 11%; } }
  @media screen and (min-width: 1150px) {
    .site-list.desktop-active {
      width: unset;
      position: static;
      display: flex; } }
  @media screen and (min-width: 767px) {
    .site-list::after {
      font-size: 15px;
      content: "Бесплатная доставка по России";
      height: 100%;
      position: absolute;
      right: 0;
      display: flex;
      align-items: center; } }
  @media screen and (min-width: 1150px) {
    .site-list::after {
      display: none; } }
  @media screen and (min-width: 767px) {
    .site-list {
      width: 100%;
      height: 65px;
      position: absolute;
      z-index: 1;
      top: 88px;
      left: 0; } }
  @media screen and (min-width: 1150px) {
    .site-list {
      height: 88px;
      display: none; } }

.site-list__item,
.user-list__item {
  position: relative;
  height: 79px;
  box-shadow: 0px 1px 0px #ECECEC, inset 0px 1px 0px #ECECEC;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 767px) {
    .site-list__item,
    .user-list__item {
      height: 100%;
      box-shadow: none; } }

.bottom-menu {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  display: none; }
  .bottom-menu__item + .bottom-menu__item {
    margin-left: 38px; }
    @media screen and (min-width: 1150px) {
      .bottom-menu__item + .bottom-menu__item {
        margin-left: 63px; } }
  .bottom-menu__item .nav-text {
    font-size: 15px; }
  .bottom-menu__item:hover .nav-text, .bottom-menu__item:focus .nav-text {
    opacity: 0.6; }
  .bottom-menu__item:active .nav-text {
    opacity: 0.3; }
  .bottom-menu::after {
    font-size: 15px;
    content: "Бесплатная доставка по России";
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center; }
  @media screen and (min-width: 1150px) {
    .bottom-menu {
      height: 62px; }
      .bottom-menu.desktop-active {
        display: flex; } }

.nav-text {
  margin-left: 24%;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  transition: opacity .3s ease; }
  @media screen and (min-width: 767px) {
    .nav-text {
      margin-left: 0; } }

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 1dppx) {
    .header-bottom {
      background-image: url("../img/index/hero/hero-mobile-1x.webp");
      background-position: center -17px;
      background-size: contain;
      background-repeat: no-repeat; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .header-bottom {
      background-image: url("../img/index/hero/hero-mobile-2x.webp");
      background-position: center -17px;
      background-size: contain;
      background-repeat: no-repeat; } }
  @media (-webkit-min-device-pixel-ratio: 4), (min-resolution: 4dppx) {
    .header-bottom {
      background-image: url("../img/index/hero/hero-mobile-4x.webp");
      background-position: center -17px;
      background-size: contain;
      background-repeat: no-repeat; } }
  .header-bottom__heading {
    width: 260px;
    margin-top: 73px;
    margin-bottom: 120px;
    text-align: center;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 30px; }
    @media screen and (min-width: 767px) {
      .header-bottom__heading {
        width: 100%;
        margin-top: 155px;
        margin-bottom: 372px;
        font-size: 43px;
        line-height: 50px; } }
    @media screen and (min-width: 1150px) {
      .header-bottom__heading {
        margin-top: 158px;
        margin-bottom: 354px;
        font-size: 53px;
        line-height: 57px; } }

@media screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 767px) and (min-resolution: 1dppx) {
  .header-bottom {
    background-image: url("../img/index/hero/hero-tablet-1x.webp");
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat; } }

@media screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .header-bottom {
    background-image: url("../img/index/hero/hero-tablet-2x.webp");
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat; } }

@media screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 4), screen and (min-width: 767px) and (min-resolution: 4dppx) {
  .header-bottom {
    background-image: url("../img/index/hero/hero-tablet-4x.webp");
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat; } }

@media screen and (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 1150px) and (min-resolution: 1dppx) {
  .header-bottom {
    background-image: url("../img/index/hero/hero-desktop-1x.webp");
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat; } }

@media screen and (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1150px) and (min-resolution: 2dppx) {
  .header-bottom {
    background-image: url("../img/index/hero/hero-desktop-2x.webp");
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat; } }

@media screen and (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 4), screen and (min-width: 1150px) and (min-resolution: 4dppx) {
  .header-bottom {
    background-image: url("../img/index/hero/hero-desktop-4x.webp");
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat; } }

.offers {
  position: relative;
  display: flex;
  flex-direction: column; }
  .offers.container {
    width: 100%;
    max-width: unset;
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 767px) {
      .offers.container {
        max-width: 668px;
        margin: 0 auto; } }
    @media screen and (min-width: 1150px) {
      .offers.container {
        max-width: 1050px; } }
  .offers__item {
    flex-grow: 1;
    display: flex; }
    .offers__item a {
      width: 100%;
      height: 103px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media screen and (min-width: 767px) {
        .offers__item a {
          padding: 0 34px;
          height: 119px; } }
    .offers__item-text {
      margin-bottom: 6px;
      font-family: "OpenSans", Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 19px;
      color: #ffffff; }
      @media screen and (min-width: 767px) {
        .offers__item-text {
          font-size: 20px;
          line-height: 30px; } }
    .offers__item .bra {
      margin-right: 6px;
      margin-top: 2px; }
    .offers__item .cub {
      margin-right: -3px; }
    .offers__item:nth-child(1) {
      background-color: #63D1BB; }
    .offers__item:nth-child(2) {
      background-color: #56C3B2; }
    .offers__item:hover .offers__item-icon g, .offers__item:focus .offers__item-icon g {
      opacity: 0.7; }
      .offers__item:hover .offers__item-icon g path, .offers__item:focus .offers__item-icon g path {
        opacity: 1; }
    .offers__item:hover .offers__item-icon path, .offers__item:focus .offers__item-icon path {
      opacity: 0.7; }
    .offers__item:active .offers__item-icon g {
      opacity: 0.3; }
      .offers__item:active .offers__item-icon g path {
        opacity: 1; }
    .offers__item:active .offers__item-icon path {
      opacity: 0.3; }
  @media screen and (min-width: 767px) {
    .offers {
      flex-direction: row; } }

@media screen and (min-width: 1150px) {
  .index-header .zigzag-filled::after {
    background-image: url(../img/icons/zigzag-fill-desktop__index.svg); } }

.header-heading {
  padding: 73px 0;
  background-image: none;
  background-position-y: 0;
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 767px) {
    .header-heading {
      padding: 101px 0 75px 0; } }
  @media screen and (min-width: 1150px) {
    .header-heading {
      padding: 102px 0 93px 0; } }

/****Index****/
.baskets {
  position: relative;
  padding-bottom: 36px;
  padding-top: 31px; }
  .baskets__top {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 767px) {
      .baskets__top {
        margin-bottom: 37px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
    @media screen and (min-width: 1150px) {
      .baskets__top {
        margin-top: 2px;
        margin-bottom: 36px; } }
  .baskets__bottom {
    display: flex;
    flex-direction: column; }
    .baskets__bottom-image {
      width: 100%; }
      @media screen and (min-width: 767px) {
        .baskets__bottom-image {
          width: unset;
          position: absolute;
          top: 100px;
          right: 0; } }
      @media screen and (min-width: 1150px) {
        .baskets__bottom-image {
          width: unset;
          position: absolute;
          top: 0;
          z-index: -1; } }
    @media screen and (min-width: 767px) {
      .baskets__bottom {
        flex-direction: row;
        justify-content: space-between; } }
  .baskets__banner {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    color: #63D1BB;
    text-transform: uppercase; }
    @media screen and (min-width: 767px) {
      .baskets__banner {
        width: 100px;
        margin-right: 14px;
        text-align: center; } }
    @media screen and (min-width: 1150px) {
      .baskets__banner {
        position: absolute;
        top: 68px;
        left: 32px; } }
  .baskets__heading {
    margin-bottom: 5px; }
    @media screen and (min-width: 767px) {
      .baskets__heading {
        margin-bottom: 0; } }
  .baskets__text {
    width: 260px;
    margin: 17px 0 23px 0; }
    @media screen and (min-width: 767px) {
      .baskets__text {
        width: 292px;
        margin: 0 0 43px 0;
        font-size: 17px;
        line-height: 30px; } }
    @media screen and (min-width: 1150px) {
      .baskets__text {
        margin-bottom: 55px; } }
  .baskets__table {
    margin-bottom: 26px; }
    .baskets__table tr td {
      border-bottom: 1px solid #ECECEC;
      padding: 3px 0 10px 0; }
      .baskets__table tr td:nth-child(1) {
        width: 37%; }
        @media screen and (min-width: 767px) {
          .baskets__table tr td:nth-child(1) {
            width: 33%; } }
    .baskets__table tr:nth-child(1) td {
      padding-top: 0; }
    @media screen and (min-width: 767px) {
      .baskets__table {
        margin-bottom: 0; } }
  .baskets__img {
    width: 100%; }
  .baskets__cost {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 767px) {
      .baskets__cost {
        margin-top: 56px; } }
    @media screen and (min-width: 1150px) {
      .baskets__cost {
        margin-top: 110px; } }
  .baskets__button {
    width: 100%;
    height: 52px;
    margin-top: 24px;
    display: flex; }
    @media screen and (min-width: 767px) {
      .baskets__button {
        margin-top: 33px; } }
  .baskets .container {
    position: relative; }
    @media screen and (min-width: 1150px) {
      .baskets .container {
        padding-top: 60px;
        padding-left: 174px; } }
  @media screen and (min-width: 767px) {
    .baskets {
      padding-top: 52px;
      padding-bottom: 52px; } }
  @media screen and (min-width: 1150px) {
    .baskets {
      padding-top: 71px;
      padding-bottom: 73px; } }

.cost {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #444444; }
  @media screen and (min-width: 767px) {
    .cost {
      font-size: 20px; } }

.standart-button {
  width: 100%;
  height: 52px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center; }
  .standart-button:hover, .standart-button:focus {
    background-color: #444444;
    color: #ffffff; }
  .standart-button:active {
    color: rgba(255, 255, 255, 0.3); }
  @media screen and (min-width: 767px) {
    .standart-button {
      font-size: 17px; } }

.about {
  padding-top: 31px;
  padding-bottom: 58px; }
  .about__heading {
    margin-bottom: 27px; }
    @media screen and (min-width: 767px) {
      .about__heading {
        margin-bottom: 44px; } }
    @media screen and (min-width: 1150px) {
      .about__heading {
        margin-bottom: 40px; } }
  .about__list {
    display: grid;
    gap: 30px; }
    @media screen and (min-width: 767px) {
      .about__list {
        grid-template-columns: 40% 45%;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 56px;
        -moz-column-gap: 10%;
             column-gap: 10%;
        grid-auto-flow: column; } }
    @media screen and (min-width: 1150px) {
      .about__list {
        grid-template-columns: 40% 40%;
        -moz-column-gap: 0%;
             column-gap: 0%; } }
  .about__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .about__item svg {
      margin-bottom: 17px; }
    .about__item .flower {
      margin-left: 8px; }
    .about__item .money {
      margin-bottom: 27px; }
    .about__item .heart {
      margin-left: 7px;
      margin-top: 4px;
      margin-bottom: 22px; }
    .about__item .ball {
      margin-top: 1px;
      margin-left: 2px;
      margin-bottom: 18px; }
    .about__item .rocket {
      margin-left: -5px;
      margin-top: 2px;
      margin-bottom: 27px; }
    .about__item .present {
      margin-left: 3px;
      margin-bottom: 22px; }
    .about__item-text {
      font-family: "OpenSans", Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px; }
      @media screen and (min-width: 767px) {
        .about__item-text {
          font-size: 20px;
          line-height: 22px; } }
  @media screen and (min-width: 1150px) {
    .about .container {
      padding-left: 175px; } }
  @media screen and (min-width: 767px) {
    .about {
      padding-top: 55px;
      padding-bottom: 83px; } }
  @media screen and (min-width: 1150px) {
    .about {
      padding-top: 67px;
      padding-bottom: 90px; } }

.comments {
  position: relative;
  padding-bottom: 45px; }
  .comments .container {
    position: relative; }
    @media screen and (min-width: 1150px) {
      .comments .container::before {
        width: 350px;
        height: 457px;
        content: "";
        position: absolute;
        z-index: -1;
        top: -78px;
        left: 0;
        background-image: url(../img/index/comments-bg.png);
        background-repeat: no-repeat; } }
    @media screen and (min-width: 1150px) {
      .comments .container {
        padding-left: 175px; } }
  .comments__heading {
    margin-bottom: 14px; }
    @media screen and (min-width: 767px) {
      .comments__heading {
        margin-bottom: 38px; } }
    @media screen and (min-width: 1150px) {
      .comments__heading {
        margin-bottom: 36px; } }
  @media screen and (min-width: 767px) {
    .comments::before {
      width: 350px;
      height: 457px;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      background-image: url(../img/index/comments-bg.png);
      background-repeat: no-repeat; } }
  @media screen and (min-width: 1150px) {
    .comments::before {
      display: none; } }
  @media screen and (min-width: 767px) {
    .comments {
      height: 457px;
      margin-bottom: 68px;
      padding-top: 81px;
      padding-bottom: 47px; } }
  @media screen and (min-width: 1150px) {
    .comments {
      padding-top: 77px;
      padding-bottom: 96px; } }

.slider__button {
  width: 50%;
  height: 52px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ECECEC;
  cursor: pointer;
  transition: opacity .3s ease; }
  @media screen and (min-width: 767px) {
    .slider__button {
      width: 50px;
      height: 26px;
      border: none; } }
  @media screen and (min-width: 767px) {
    .slider__button + .slider__button {
      margin-left: 37px; } }

.slider__controls .controls {
  margin-bottom: 38px;
  display: flex; }
  @media screen and (min-width: 767px) {
    .slider__controls .controls {
      margin-bottom: 0;
      position: absolute;
      bottom: 16px;
      right: 19px; } }

@media screen and (min-width: 767px) {
  .slider__controls .add-note {
    width: 175px;
    position: absolute;
    top: -4px;
    right: 0; } }

@media screen and (min-width: 1150px) {
  .slider__controls .add-note {
    top: 1px;
    right: 1px; } }

.slider__button:hover, .slider__button:focus {
  opacity: 0.6; }

.slider__button:active {
  opacity: 0.3; }

.slide {
  display: none; }
  .slide__text {
    width: 260px;
    margin-bottom: 33px;
    font-size: 15px;
    line-height: 30px; }
    @media screen and (min-width: 767px) {
      .slide__text {
        width: 100%;
        font-size: 17px;
        margin-bottom: 59px; } }
    @media screen and (min-width: 1150px) {
      .slide__text {
        margin-bottom: 41px; } }
  .slide__author {
    margin-bottom: 32px;
    font-size: 17px;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 767px) {
      .slide__author {
        line-height: 30px; } }

.current-slide {
  display: block; }

.author-name {
  margin-bottom: 6px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  display: inline-block; }
  @media screen and (min-width: 767px) {
    .author-name {
      margin-bottom: 0;
      font-size: 18px; } }
  @media screen and (min-width: 1150px) {
    .author-name {
      font-size: 17px; } }

.next {
  background-image: url(../img/icons/arrow-right.svg); }

.prev {
  background-image: url(../img/icons/arrow-left.svg); }

.standart-button {
  width: 100%;
  height: 52px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center; }
  .standart-button:hover, .standart-button:focus {
    background-color: #444444;
    color: #ffffff; }
  .standart-button:active {
    color: rgba(255, 255, 255, 0.3); }
  @media screen and (min-width: 767px) {
    .standart-button {
      font-size: 17px; } }

.standart-button {
  width: 100%;
  height: 52px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center; }
  .standart-button:hover, .standart-button:focus {
    background-color: #444444;
    color: #ffffff; }
  .standart-button:active {
    color: rgba(255, 255, 255, 0.3); }
  @media screen and (min-width: 767px) {
    .standart-button {
      font-size: 17px; } }

.contacts {
  padding-top: 38px;
  padding-bottom: 39px; }
  .contacts .second-heading {
    font-size: 18px; }
    @media screen and (min-width: 767px) {
      .contacts .second-heading {
        font-size: 43px; } }
    @media screen and (min-width: 1150px) {
      .contacts .second-heading {
        font-size: 53px;
        line-height: 57px; } }
  .contacts__heading {
    position: relative;
    margin-bottom: 30px; }
    @media screen and (min-width: 767px) {
      .contacts__heading::after {
        content: "";
        width: 47px;
        height: 81px;
        position: absolute;
        right: 3px;
        top: -22px;
        background-image: url(../img/icons/flag.svg);
        background-repeat: no-repeat; } }
    @media screen and (min-width: 1150px) {
      .contacts__heading::after {
        right: unset;
        top: -16px;
        left: -111px; } }
    @media screen and (min-width: 767px) {
      .contacts__heading {
        margin-bottom: 52px; } }
    @media screen and (min-width: 1150px) {
      .contacts__heading {
        margin-bottom: 33px; } }
  .contacts__button {
    height: 52px; }
    @media screen and (min-width: 767px) {
      .contacts__button {
        margin: 0 auto;
        width: 230px; } }
    @media screen and (min-width: 1150px) {
      .contacts__button {
        margin: 0; } }
  @media screen and (min-width: 1150px) {
    .contacts .container {
      position: relative;
      padding-left: 175px; } }
  @media screen and (min-width: 767px) {
    .contacts {
      padding-top: 83px;
      padding-bottom: 58px; } }
  @media screen and (min-width: 1150px) {
    .contacts {
      position: relative;
      padding-top: 171px;
      padding-bottom: 105px; } }

.adress {
  margin-bottom: 62px;
  display: flex;
  flex-direction: column; }
  .adress__email {
    margin-bottom: 32px;
    line-height: 25px; }
    .adress__email p {
      border-bottom: 1px solid #63D1BB;
      transition: all .3s ease; }
      .adress__email p:hover, .adress__email p:focus {
        color: #63D1BB;
        border-color: #46c1af10; }
    @media screen and (min-width: 767px) {
      .adress__email {
        margin-right: 52px; } }
    @media screen and (min-width: 1150px) {
      .adress__email {
        line-height: 36px;
        margin-bottom: 25px; } }
  .adress__city {
    line-height: 30px; }
  .adress__email, .adress__city {
    font-size: 14px;
    display: flex;
    align-items: flex-start; }
    @media screen and (min-width: 767px) {
      .adress__email, .adress__city {
        font-size: 17px; } }
  .adress__name {
    margin-right: 33px; }
    @media screen and (min-width: 767px) {
      .adress__name {
        margin-right: 24px; } }
  @media screen and (min-width: 767px) {
    .adress {
      margin-bottom: 46px;
      flex-direction: row; } }
  @media screen and (min-width: 1150px) {
    .adress {
      margin-bottom: 84px;
      flex-direction: column; } }

.map {
  margin-bottom: 43px; }
  .map__inner {
    width: 100%;
    height: 454px;
    position: relative; }
  @media screen and (min-width: 767px) {
    .map {
      margin-bottom: 55px; } }
  @media screen and (min-width: 1150px) {
    .map {
      width: 1050px;
      margin: auto;
      position: absolute;
      top: 92px;
      left: 0;
      right: 0;
      z-index: 1;
      display: flex;
      justify-content: flex-end; } }

.zigzag {
  position: relative;
  margin-bottom: 6px; }
  .zigzag::after {
    width: 100%;
    height: 6px;
    content: "";
    position: absolute;
    top: 100%;
    background-image: url(../img/icons/zigzag-line.svg);
    background-repeat: repeat-x; }
    @media screen and (min-width: 767px) {
      .zigzag::after {
        height: 17px;
        margin-bottom: 17px;
        background-image: url(../img/icons/zigzag-line-bold.svg); } }
    @media screen and (min-width: 1150px) {
      .zigzag::after {
        width: 1050px;
        height: 23px;
        background-image: url(../img/icons/zigzag-line-desktop.svg);
        left: 0;
        right: 0;
        margin: auto; } }
  @media screen and (min-width: 767px) {
    .zigzag {
      margin-bottom: 17px; } }
  @media screen and (min-width: 1150px) {
    .zigzag {
      margin-bottom: 23px; } }

@media screen and (min-width: 767px) {
  .zigzag-filled {
    position: relative; }
    .zigzag-filled::after {
      content: "";
      height: 24px;
      position: absolute;
      bottom: -12px;
      width: 100%;
      background-image: url(../img/icons/zigzag-fill-tablet.svg); } }
    @media screen and (min-width: 767px) and (min-width: 1150px) {
      .zigzag-filled::after {
        height: 34px;
        bottom: -17px;
        background-image: url(../img/icons/zigzag-fill-desktop.svg); } }

/****Form****/
@media screen and (min-width: 767px) {
  .form-content.container {
    max-width: unset; } }

.order-text {
  margin-top: 17px;
  margin-bottom: 29px;
  font-size: 13px;
  color: #444444; }
  .order-text.container {
    max-width: unset;
    padding: unset; }
    @media screen and (min-width: 767px) {
      .order-text.container {
        max-width: 668px; } }
    @media screen and (min-width: 1150px) {
      .order-text.container {
        max-width: 700px; } }
  @media screen and (min-width: 767px) {
    .order-text {
      max-width: 668px;
      margin-top: 66px;
      margin-bottom: 63px;
      margin-left: auto;
      margin-right: auto;
      font-size: 17px;
      line-height: 30px; } }
  @media screen and (min-width: 1150px) {
    .order-text {
      margin-top: 119px;
      margin-bottom: 62px; } }

.order-form {
  padding-bottom: 55px; }
  @media screen and (min-width: 767px) {
    .order-form {
      padding-bottom: 51px; } }

.form-controls .standart-button {
  font-size: 17px; }
  @media screen and (min-width: 767px) {
    .form-controls .standart-button {
      width: 230px; } }
  @media screen and (min-width: 1150px) {
    .form-controls .standart-button {
      margin-right: 168px; } }

.form-controls.container {
  max-width: unset;
  padding: unset;
  margin: unset; }
  @media screen and (min-width: 767px) {
    .form-controls.container {
      width: 668px;
      margin: 0 auto; } }
  @media screen and (min-width: 1150px) {
    .form-controls.container {
      width: 700px; } }

@media screen and (min-width: 767px) {
  .form-controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; } }

@media screen and (min-width: 1150px) {
  .form-controls {
    justify-content: flex-start; } }

.filter {
  position: relative;
  border: none;
  padding: 0;
  margin: 0; }
  .filter__heading {
    width: 100%;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    color: #63D1BB;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px; }
    .filter__heading::after {
      content: "";
      width: 78%;
      height: 1px;
      position: absolute;
      top: 50%;
      right: 0;
      background-color: #63D1BB; }
      @media screen and (min-width: 767px) {
        .filter__heading::after {
          display: none; } }
    .filter__heading.pseudo-legend {
      display: none; }
      @media screen and (min-width: 767px) {
        .filter__heading.pseudo-legend {
          display: block; } }
    @media screen and (min-width: 767px) {
      .filter__heading {
        width: unset;
        position: absolute;
        top: 18px; } }
  .filter__option {
    display: flex; }
    @media screen and (min-width: 767px) {
      .filter__option-wrapper {
        margin-left: 168px;
        flex-grow: 1; } }
    @media screen and (min-width: 1150px) {
      .filter__option-wrapper {
        margin-left: 112px; } }
    .filter__option label {
      margin-left: 61px;
      font-family: "OpenSans", Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 17px;
      line-height: 18px;
      position: relative; }
      @media screen and (min-width: 767px) {
        .filter__option label {
          font-size: 19px;
          line-height: 18px;
          margin-left: 80px; } }
      @media screen and (min-width: 1150px) {
        .filter__option label {
          margin-left: 83px; } }
  .filter__input {
    width: 100%;
    height: 52px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    font-size: 17px;
    line-height: 18px;
    color: #000000; }
    .filter__input:hover, .filter__input:focus {
      outline: none;
      border-bottom: 2px solid #63D1BB; }
    .filter__input:active {
      border-bottom: 2px solid #63D1BB; }
    .filter__input::-webkit-input-placeholder {
      font-size: 17px;
      line-height: 18px;
      color: #000000;
      opacity: 0.3; }
      @media screen and (min-width: 767px) {
        .filter__input::-webkit-input-placeholder {
          font-size: 20px; } }
    .filter__input:-moz-placeholder {
      font-size: 17px;
      line-height: 18px;
      color: #000000;
      opacity: 0.3; }
      @media screen and (min-width: 767px) {
        .filter__input:-moz-placeholder {
          font-size: 20px; } }
    .filter__input::-moz-placeholder {
      font-size: 17px;
      line-height: 18px;
      color: #000000;
      opacity: 0.3; }
      @media screen and (min-width: 767px) {
        .filter__input::-moz-placeholder {
          font-size: 20px; } }
    .filter__input:-ms-input-placeholder {
      font-size: 17px;
      line-height: 18px;
      color: #000000;
      opacity: 0.3; }
      @media screen and (min-width: 767px) {
        .filter__input:-ms-input-placeholder {
          font-size: 20px; } }
  .filter .container {
    position: relative;
    max-width: unset;
    margin: unset;
    padding: unset; }
    @media screen and (min-width: 767px) {
      .filter .container {
        width: 668px;
        margin: 0 auto; } }
    @media screen and (min-width: 1150px) {
      .filter .container {
        width: 929px; } }
  @media screen and (min-width: 767px) {
    .filter {
      display: flex; } }

@media screen and (min-width: 767px) {
  legend.filter__heading {
    display: none; } }

.form-tip {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  display: inline-block; }
  @media screen and (min-width: 767px) {
    .form-tip {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 0; } }

.type {
  margin-bottom: 30px; }
  .type__heading {
    margin-bottom: 34px; }
    @media screen and (min-width: 767px) {
      .type__heading {
        margin-bottom: 0; } }
  .type__radio {
    height: 42px;
    display: flex;
    align-items: center; }
    .type__radio:hover label::before, .type__radio:focus label::before {
      border: 2px solid #63D1BB; }
    .type__radio:active label::before {
      border: 2px solid rgba(0, 0, 0, 0.3); }
    .type__radio label {
      margin-left: 0;
      display: flex;
      align-items: center; }
      .type__radio label .radio-pseudo {
        width: 42px;
        height: 42px;
        margin-right: 19px;
        border: 2px solid #000000;
        border-radius: 50%;
        display: inline-block;
        flex-shrink: 0; }
        @media screen and (min-width: 767px) {
          .type__radio label .radio-pseudo {
            width: 52px;
            height: 52px;
            margin-right: 28px;
            top: -16px;
            left: -78px; } }
        @media screen and (min-width: 1150px) {
          .type__radio label .radio-pseudo {
            left: -81px; } }
    .type__radio + .type__radio {
      margin-top: 8px; }
      @media screen and (min-width: 767px) {
        .type__radio + .type__radio {
          margin-top: 24px; } }
    @media screen and (min-width: 767px) {
      .type__radio {
        height: 52px; } }
  @media screen and (min-width: 767px) {
    .type {
      margin-bottom: 50px; } }

.filter__input-radio:checked + label::after {
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
  left: 12px;
  top: 11px;
  background-color: #63D1BB;
  border-radius: 50%; }
  @media screen and (min-width: 767px) {
    .filter__input-radio:checked + label::after {
      width: 23px;
      height: 23px;
      top: 14px;
      left: 15px; } }
  @media screen and (min-width: 1150px) {
    .filter__input-radio:checked + label::after {
      left: 15px; } }

.color {
  margin-bottom: 33px; }
  .color__heading {
    margin-bottom: 26px; }
    @media screen and (min-width: 767px) {
      .color__heading {
        margin-bottom: 0; } }
  @media screen and (min-width: 767px) {
    .color__list {
      display: grid;
      grid-template-columns: 48% 48%;
      row-gap: 24px;
      -moz-column-gap: 4%;
           column-gap: 4%; } }
  @media screen and (min-width: 1150px) {
    .color__list {
      grid-template-columns: 30% 30% 30%;
      -moz-column-gap: 17px;
           column-gap: 17px; } }
  .color__checkbox {
    height: 38px;
    display: flex;
    align-items: center; }
    .color__checkbox:hover label::before, .color__checkbox:focus label::before {
      border: 2px solid #63D1BB; }
    .color__checkbox:active label::before {
      border: 2px solid rgba(0, 0, 0, 0.3); }
    .color__checkbox + .color__checkbox {
      margin-top: 23px; }
      @media screen and (min-width: 767px) {
        .color__checkbox + .color__checkbox {
          margin-top: 0; } }
    .color__checkbox label::before {
      width: 38px;
      height: 38px;
      content: "";
      position: absolute;
      top: -11px;
      left: -61px;
      border: 2px solid #000000; }
      @media screen and (min-width: 767px) {
        .color__checkbox label::before {
          width: 52px;
          height: 52px;
          left: -80px;
          top: -17px; } }
      @media screen and (min-width: 1150px) {
        .color__checkbox label::before {
          top: -20px; } }
    @media screen and (min-width: 767px) {
      .color__checkbox {
        height: 52px; } }
    @media screen and (min-width: 1150px) {
      .color__checkbox {
        width: 260px; } }
  @media screen and (min-width: 767px) {
    .color {
      padding: 50px 0;
      margin-bottom: 50px;
      background-color: #F1F1F1; } }
  @media screen and (min-width: 1150px) {
    .color {
      margin-bottom: 49px; } }

.filter__input-checkbox:checked + label::after {
  width: 23px;
  height: 16px;
  content: "";
  position: absolute;
  left: -53px;
  background-image: url(../img/icons/done.svg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 767px) {
    .filter__input-checkbox:checked + label::after {
      width: 32px;
      height: 22px;
      top: -2px;
      left: -70px; } }
  @media screen and (min-width: 1150px) {
    .filter__input-checkbox:checked + label::after {
      top: -5px;
      left: -71px; } }

.name {
  margin-bottom: 33px; }
  .name__heading {
    margin-bottom: 30px; }
    @media screen and (min-width: 767px) {
      .name__heading {
        margin-bottom: 0; } }
  .name__input {
    flex-direction: column; }
    .name__input + .name__input {
      margin-top: 22px; }
      @media screen and (min-width: 767px) {
        .name__input + .name__input {
          margin-top: 24px; } }
    .name__input .filter__input-name {
      order: 2; }
      @media screen and (min-width: 767px) {
        .name__input .filter__input-name {
          padding-left: 16px; } }
      @media screen and (min-width: 1150px) {
        .name__input .filter__input-name {
          padding-left: 18px; } }
    .name__input .name-label {
      order: 1;
      margin-left: 0; }
      @media screen and (min-width: 767px) {
        .name__input .name-label {
          margin-right: 26px; } }
      @media screen and (min-width: 1150px) {
        .name__input .name-label {
          margin-left: 4px; } }
    @media screen and (min-width: 767px) {
      .name__input {
        flex-direction: row;
        align-items: center; } }
    @media screen and (min-width: 1150px) {
      .name__input {
        padding-right: 115px; } }
  @media screen and (min-width: 767px) {
    .name {
      margin-bottom: 50px; } }

.telephone {
  margin-bottom: 35px; }
  .telephone__heading {
    margin-bottom: 4px; }
    @media screen and (min-width: 767px) {
      .telephone__heading {
        margin-bottom: 0; } }
  @media screen and (min-width: 1150px) {
    .telephone__input {
      padding-right: 115px; } }
  @media screen and (min-width: 767px) {
    .telephone {
      padding: 50px 0 12px 0;
      margin-bottom: 0;
      background-color: #F1F1F1; } }

@media screen and (min-width: 767px) {
  .filter__input-telephone {
    padding-left: 16px; } }

@media screen and (min-width: 1150px) {
  .filter__input-telephone {
    padding-left: 20px; } }

.filter__option .telephone-label {
  margin: 0;
  position: relative; }
  .filter__option .telephone-label::after {
    content: "";
    width: 25px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 7px;
    background-image: url(../img/icons/phone.svg);
    background-repeat: no-repeat; }
    @media screen and (min-width: 767px) {
      .filter__option .telephone-label::after {
        right: 27px; } }
    @media screen and (min-width: 1150px) {
      .filter__option .telephone-label::after {
        right: 8px; } }

.email {
  margin-bottom: 34px; }
  .email__heading {
    margin-bottom: 5px; }
    @media screen and (min-width: 767px) {
      .email__heading {
        margin-bottom: 0; } }
  @media screen and (min-width: 1150px) {
    .email__input {
      padding-right: 115px; } }
  @media screen and (min-width: 767px) {
    .email {
      margin-bottom: 50px;
      padding: 12px 0 50px 0;
      background-color: #F1F1F1; } }

@media screen and (min-width: 767px) {
  .filter__input-email {
    padding-left: 18px; } }

@media screen and (min-width: 1150px) {
  .filter__input-email {
    padding-left: 21px; } }

.filter__option .email-label {
  margin: 0;
  position: relative; }
  .filter__option .email-label::after {
    content: "";
    width: 32px;
    height: 21px;
    position: absolute;
    top: 15px;
    right: 3px;
    background-image: url(../img/icons/email.svg);
    background-repeat: no-repeat; }
    @media screen and (min-width: 1150px) {
      .filter__option .email-label::after {
        right: 4px; } }

.extra {
  margin-bottom: 11px; }
  .extra__heading {
    margin-bottom: 23px; }
    @media screen and (min-width: 767px) {
      .extra__heading {
        margin-bottom: 0; } }
  @media screen and (min-width: 1150px) {
    .extra__input {
      padding-right: 115px; } }
  .extra__textarea {
    padding: 15px;
    width: 100%;
    height: 142px;
    border: 2px solid #444444;
    resize: none; }
    .extra__textarea:hover, .extra__textarea:focus {
      outline: none;
      border: 2px solid #63D1BB; }
    .extra__textarea:active {
      border: 2px solid #63D1BB; }
    .extra__textarea::-webkit-input-placeholder {
      font-family: "OpenSans";
      font-size: 17px;
      line-height: 18px;
      font-weight: 400;
      color: #000000;
      opacity: 0.3; }
      @media screen and (min-width: 767px) {
        .extra__textarea::-webkit-input-placeholder {
          font-size: 19px; } }
    .extra__textarea:-moz-placeholder {
      font-family: "OpenSans";
      font-size: 17px;
      line-height: 18px;
      font-weight: 400;
      color: #000000;
      opacity: 0.3; }
      @media screen and (min-width: 767px) {
        .extra__textarea:-moz-placeholder {
          font-size: 19px; } }
    .extra__textarea::-moz-placeholder {
      font-family: "OpenSans";
      font-size: 17px;
      line-height: 18px;
      font-weight: 400;
      color: #000000;
      opacity: 0.3; }
      @media screen and (min-width: 767px) {
        .extra__textarea::-moz-placeholder {
          font-size: 19px; } }
    .extra__textarea:-ms-input-placeholder {
      font-family: "OpenSans";
      font-size: 17px;
      line-height: 18px;
      font-weight: 400;
      color: #000000;
      opacity: 0.3; }
      @media screen and (min-width: 767px) {
        .extra__textarea:-ms-input-placeholder {
          font-size: 19px; } }
    @media screen and (min-width: 767px) {
      .extra__textarea {
        padding: 14px; } }
    @media screen and (min-width: 1150px) {
      .extra__textarea {
        padding: 16px; } }
  @media screen and (min-width: 767px) {
    .extra {
      margin-bottom: 53px; } }
  @media screen and (min-width: 1150px) {
    .extra {
      margin-bottom: 49px; } }

/****Catalog****/
.products {
  padding-top: 30px;
  margin-bottom: 30px; }
  @media screen and (min-width: 1150px) {
    .products__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media screen and (min-width: 767px) {
    .products {
      padding-top: 79px;
      margin-bottom: 53px; } }
  @media screen and (min-width: 1150px) {
    .products {
      padding-top: 131px;
      margin-bottom: 57px; } }

.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; }
  .card__img {
    width: 100%; }
  .card__heading {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px; }
    @media screen and (min-width: 767px) {
      .card__heading {
        font-size: 20px; } }
  .card__text {
    font-size: 13px; }
    @media screen and (min-width: 767px) {
      .card__text {
        font-size: 15px; } }
  .card__heading, .card__text {
    display: inline-block; }

.product {
  cursor: pointer; }
  .product + .product {
    margin-top: 30px; }
    @media screen and (min-width: 767px) {
      .product + .product {
        margin-top: 54px; } }
    @media screen and (min-width: 1150px) {
      .product + .product {
        margin-top: 0; } }
  .product:hover .product-description, .product:focus .product-description {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1); }
  .product:active .product-description {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); }
  .product:active .product__name {
    opacity: 0.3; }
  .product:active path {
    opacity: 0.3;
    fill: #63D1BB; }
  .product-description {
    padding: 28px 28px 26px 28px;
    border: 1px solid #ECECEC;
    display: flex;
    flex-direction: column;
    transition: box-shadow .3s ease; }
    .product-description__top {
      padding-bottom: 17px;
      display: flex;
      flex-direction: column; }
      @media screen and (min-width: 767px) {
        .product-description__top {
          padding-bottom: 0; } }
    .product-description__bottom {
      padding-top: 23px;
      border-top: 1px solid #ECECEC;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media screen and (min-width: 767px) {
        .product-description__bottom {
          padding-top: 26px; } }
      @media screen and (min-width: 1150px) {
        .product-description__bottom {
          padding-top: 24px; } }
    @media screen and (min-width: 767px) {
      .product-description {
        width: 50%;
        padding-left: 32px;
        padding-bottom: 22px;
        justify-content: space-between; } }
    @media screen and (min-width: 1150px) {
      .product-description {
        width: 100%;
        padding-left: 28px;
        flex-grow: 1; } }
  .product__name {
    margin-bottom: 5px;
    transition: opacity .3s ease; }
    @media screen and (min-width: 1150px) {
      .product__name {
        margin-bottom: 5px; } }
  .product__characteristics {
    line-height: 30px; }
    @media screen and (min-width: 1150px) {
      .product__characteristics {
        margin-bottom: 12px; } }
  .product__cost {
    font-size: 15px;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700; }
    @media screen and (min-width: 767px) {
      .product__cost {
        font-size: 17px; } }
  .product__icon {
    margin-bottom: 4px;
    margin-right: -3px; }
    @media screen and (min-width: 767px) {
      .product__icon {
        margin-bottom: 9px;
        margin-right: 4px; } }
  .product:nth-last-child(1) .product-description {
    padding-top: 25px; }
    @media screen and (min-width: 767px) {
      .product:nth-last-child(1) .product-description {
        padding-top: 28px; } }
  @media screen and (min-width: 767px) {
    .product {
      flex-direction: row;
      justify-content: space-between; } }
  @media screen and (min-width: 1150px) {
    .product {
      width: 316px;
      flex-direction: column; } }

.production {
  margin-bottom: 57px; }
  @media screen and (min-width: 767px) {
    .production {
      margin-bottom: 70px; } }
  @media screen and (min-width: 1150px) {
    .production {
      margin-bottom: 102px; } }

.production-card {
  border: 1px solid #ECECEC; }
  .production-card__top {
    padding: 24px 0 26px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 767px) {
      .production-card__top {
        padding: 40px 13px 25px 42px;
        order: 1;
        justify-content: flex-start; } }
    @media screen and (min-width: 1150px) {
      .production-card__top {
        display: none; } }
  .production-card__video {
    position: relative;
    margin-bottom: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
    .production-card__video::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 78px;
      background-image: url(../img/icons/play.svg);
      background-repeat: no-repeat;
      transition: all .2s ease; }
    .production-card__video:hover::before, .production-card__video:focus::before {
      transform: scale(1.2); }
    .production-card__video:active::before {
      opacity: 0.3;
      transform: scale(0.8); }
    @media screen and (min-width: 1150px) {
      .production-card__video picture {
        width: 682px; } }
    @media screen and (min-width: 767px) {
      .production-card__video {
        margin-bottom: 0;
        order: 0; } }
    @media screen and (min-width: 1150px) {
      .production-card__video {
        width: 682px;
        height: 455px; } }
  .production-card__heading {
    margin-left: 24px; }
    @media screen and (min-width: 767px) {
      .production-card__heading {
        margin-left: 0; } }
    @media screen and (min-width: 1150px) {
      .production-card__heading {
        margin-top: 25px;
        margin-bottom: 27px; } }
  .production-card__icon {
    flex-shrink: 0; }
    @media screen and (min-width: 767px) {
      .production-card__icon {
        margin-right: 33px; } }
  .production-card__bottom {
    padding: 0 32px; }
    @media screen and (min-width: 1150px) {
      .production-card__bottom .production-card__top {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start; } }
    @media screen and (min-width: 767px) {
      .production-card__bottom {
        padding: 0 40px;
        order: 2; } }
    @media screen and (min-width: 1150px) {
      .production-card__bottom {
        padding: 47px 40px 10px 79px; } }
  .production-card__text {
    margin-bottom: 41px; }
    @media screen and (min-width: 767px) {
      .production-card__text {
        line-height: 30px; } }
    @media screen and (min-width: 1150px) {
      .production-card__text {
        text-align: start;
        margin-bottom: 51px; } }
  .production-card__button {
    margin-bottom: 33px; }
    @media screen and (min-width: 767px) {
      .production-card__button {
        margin-bottom: 40px; } }
    @media screen and (min-width: 1150px) {
      .production-card__button {
        width: 230px;
        margin-left: 2px; } }
  @media screen and (min-width: 1150px) {
    .production-card {
      flex-direction: row; } }

/****Footer****/
.main-footer {
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: #F1F1F1; }
  .main-footer .container {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 767px) {
      .main-footer .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; } }
  .main-footer .academy-logo {
    display: flex;
    align-items: center;
    justify-content: center; }
  .main-footer__logo path {
    transition: all .3s ease; }
  .main-footer__logo:hover path, .main-footer__logo:focus path {
    fill: #63D1BB; }
  .main-footer__logo:active path {
    opacity: 0.3; }
  @media screen and (min-width: 767px) {
    .main-footer {
      padding-top: 50px;
      padding-bottom: 58px; } }

.socials {
  padding-bottom: 21px;
  border-bottom: 1px solid #e5e5e5; }
  .socials__list {
    display: flex;
    justify-content: center;
    align-items: center; }
  .socials__item {
    display: flex; }
    .socials__item + .socials__item {
      margin-left: 41px; }
  .socials__link {
    width: 100%; }
    .socials__link path {
      transition: all .3s ease; }
    .socials__link:hover path, .socials__link:focus path {
      fill: #63D1BB; }
    .socials__link:active path {
      opacity: 0.3; }
  @media screen and (min-width: 767px) {
    .socials {
      padding-bottom: 0;
      border-bottom: none; } }

.develop {
  padding-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .develop__text {
    margin-right: 27px;
    margin-bottom: 7px;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 18px; }
  @media screen and (min-width: 767px) {
    .develop {
      padding-top: 0; } }

.academy-logo svg {
  margin-top: -5px;
  transition: all .3s ease; }

.academy-logo:hover svg,
.academy-logo:hover path, .academy-logo:focus svg,
.academy-logo:focus path {
  opacity: 1; }

.academy-logo:active svg {
  opacity: 0.3; }

/****Modals****/
.modal {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none; }
  .modal__active {
    display: block; }
  .modal__text {
    font-size: 15px;
    line-height: 30px; }
    @media screen and (min-width: 767px) {
      .modal__text {
        font-size: 17px; } }
  .modal-button {
    background-color: #63D1BB;
    border: none;
    color: #ffffff; }
    .modal-button:hover, .modal-button:focus {
      background-color: #56C3B2;
      border: none; }

.global-shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  display: none; }
  .global-shadow.active {
    display: block; }

.modal-basket {
  width: 100%;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
  box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25); }
  .modal-basket__inner {
    width: 100%;
    padding: 28px 30px 46px 30px;
    background-color: #ffffff; }
    .modal-basket__inner .modal__text {
      margin-bottom: 21px;
      display: flex;
      justify-content: center; }
      @media screen and (min-width: 767px) {
        .modal-basket__inner .modal__text {
          margin-bottom: 19px; } }
    @media screen and (min-width: 767px) {
      .modal-basket__inner {
        padding: 37px 108px 46px 108px; } }
  .modal-basket__heading {
    margin-bottom: 14px;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (min-width: 767px) {
      .modal-basket__heading {
        margin-bottom: 11px;
        font-size: 29px;
        line-height: 57px; } }
  @media screen and (min-width: 767px) {
    .modal-basket {
      width: 565px;
      border: 1px solid #C6C6C6; } }

.size-buttons {
  width: 100%;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between; }
  .size-buttons__radio {
    width: 31%;
    display: flex; }
    .size-buttons__radio label {
      height: 52px;
      color: #444444;
      font-weight: 700;
      border: 2px solid #ededed;
      cursor: pointer;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
  .size-buttons__input:checked + label {
    border: 2px solid #63D1BB; }
  @media screen and (min-width: 767px) {
    .size-buttons {
      margin-bottom: 32px; } }

/****Visibility****/
.mobile-active {
  display: block; }
  @media screen and (min-width: 767px) {
    .mobile-active {
      display: none; } }

.tablets-active {
  display: none; }
  @media screen and (min-width: 767px) {
    .tablets-active {
      display: block; } }

.desktop-active {
  display: none; }
  @media screen and (min-width: 1150px) {
    .desktop-active {
      display: block; } }
