.develop {
  padding-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    margin-right: 27px;
    margin-bottom: 7px;
    font-family: OpenSansBold;
    font-size: 19px;
    line-height: 18px;
  }

  @include tablets {
    padding-top: 0;
  }
}
