.main-footer {
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: $biege;

  .container {
    display: flex;
    flex-direction: column;

    @include tablets {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .academy-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include tablets {
    padding-top: 50px;
    padding-bottom: 58px;
  }
}

@import "socials";
@import "develop";
