.map {
  margin-bottom: 42px;

  &__inner {
    width: 100%;
    height: 454px;
    background-image: url(../img/map-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
