.socials {
  padding-bottom: 27px;
  border-bottom: 1px solid $lightgray;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;

    &+.socials__item {
      margin-left: 41px;
    }
  }

  &__link {
    width: 100%;
  }

  @include tablets {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.inst {
  width: 22px;
  height: 21px;
  background-image: url(../../img/icons/socials/inst.svg);
}

.fb {
  width: 15px;
  height: 28px;
  background-image: url(../../img/icons/socials/facebook.svg);
}

.twitter {
  width: 23px;
  height: 20px;
  background-image: url(../../img/icons/socials/twitter.svg);
}
