.email {
  margin-bottom: 34px;

  &__heading {
    margin-bottom: 5px;

    @include tablets {
      margin-bottom: 0;
    }
  }

  @include tablets {
    margin-bottom: 50px;
    padding: 12px 0 50px 0;
    background-color: $biege;
  }
}

.filter__option {
  .email-label {
    margin: 0;
    position: relative;

    &::after {
      content: "";
      width: 32px;
      height: 21px;
      position: absolute;
      top: 15px;
      right: 3px;
      background-image: url(../../img/icons/email.svg);
      background-repeat: no-repeat;
    }
  }
}
