.email {
  margin-bottom: 34px;

  &__heading {
    margin-bottom: 5px;

    @include tablets {
      margin-bottom: 0;
    }
  }

  &__input {
    @include desktop {
      padding-right: 115px;
    }
  }

  @include tablets {
    margin-bottom: 52px;
    padding: 12px 0 50px 0;
    background-color: $biege;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.filter__input-email {
  @include tablets {
    padding-left: 18px;
  }

  @include desktop {
    padding-left: 21px;
  }
}

.filter__option {
  .email-label {
    margin: 0;
    position: relative;

    &::after {
      content: "";
      width: 32px;
      height: 21px;
      position: absolute;
      top: 15px;
      right: 22px;
      background-image: url(../../img/icons/email.svg);
      background-repeat: no-repeat;

      @include desktop {
        right: 4px;
      }
    }
  }
}
