@import "../elements/variables";

.extra {
  margin-bottom: 17px;

  &__heading {
    margin-bottom: 23px;

    @include tablets {
      margin-bottom: 0;
    }
  }

  &__textarea {
    padding: 17px;
    width: 100%;
    height: 142px;
    border: 2px solid $darkgray;
    resize: none;

    &:hover,
    &:focus {
      outline: none;
      border: 2px solid $aquamarine;
    }

    &:active {
      border: 2px solid $aquamarine;
    }

    @include placeholder {
      font-size: 17px;
      line-height: 18px;
      color: $black;
      opacity: 0.3;
    }
  }

  @include tablets {
    margin-bottom: 53px;
  }
}
