.name {
  margin-bottom: 33px;

  &__heading {
    margin-bottom: 28px;

    @include tablets {
      margin-bottom: 0;
    }
  }

  &__input {
    flex-direction: column;

    +.name__input {
      margin-top: 22px;

      @include tablets {
        margin-top: 24px;
      }
    }

    .filter__input-name {
      order: 2;

      @include tablets {
        padding-left: 16px;
      }
    }

    .name-label {
      order: 1;
      margin-left: 0;

      @include tablets {
        margin-right: 26px;
      }
    }

    @include tablets {
      flex-direction: row;
      align-items: center;
    }
  }

  @include tablets {
    margin-bottom: 50px;
  }
}
