@import "../elements/variables.scss";

.type {
  margin-bottom: 30px;

  &__heading {
    margin-bottom: 34px;

    @include tablets {
      margin-bottom: 0;
    }
  }

  &__radio {
    height: 42px;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      label::before {
        border: 2px solid $aquamarine;
      }
    }

    &:active {
      label::before {
        border: 2px solid rgba(0, 0, 0, 0.3);
      }
    }

    label {
      margin-left: 0;
      display: flex;
      align-items: center;

      .radio-pseudo {
        width: 42px;
        height: 42px;
        margin-right: 19px;
        border: 2px solid $black;
        border-radius: 50%;
        display: inline-block;
        flex-shrink: 0;

        @include tablets {
          width: 52px;
          height: 52px;
          margin-right: 28px;
          top: -16px;
          left: -78px;
        }

        @include desktop {
          left: -81px;
        }
      }
    }

    +.type__radio {
      margin-top: 8px;

      @include tablets {
        margin-top: 24px;
      }
    }

    @include tablets {
      height: 52px;
    }
  }

  @include tablets {
    margin-bottom: 50px;
  }
}

.filter__input-radio:checked+label::after {
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
  left: 12px;
  top: 11px;
  background-color: $aquamarine;
  border-radius: 50%;

  @include tablets {
    width: 23px;
    height: 23px;
    top: 14px;
    left: 15px;
  }

  @include desktop {
    left: 15px;
  }
}
