@import "../elements/variables.scss";

.type {
  margin-bottom: 30px;

  &__heading {
    margin-bottom: 35px;

    @include tablets {
      margin-bottom: 0;
    }
  }

  &__radio {
    height: 42px;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      label::before {
        border: 2px solid $aquamarine;
      }
    }

    &:active {
      label::before {
        border: 2px solid rgba(0, 0, 0, 0.3);
      }
    }

    label::before {
      width: 42px;
      height: 42px;
      content: "";
      position: absolute;
      top: -12px;
      left: -61px;
      border: 2px solid $black;
      border-radius: 50%;

      @include tablets {
        width: 52px;
        height: 52px;
        top: -16px;
        left: -75px;
      }
    }

    +.type__radio {
      margin-top: 8px;
    }

    @include tablets {
      height: 52px;
    }
  }

  @include tablets {
    margin-bottom: 50px;
  }
}

.filter__input-radio:checked+label::after {
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
  left: -49px;
  top: 0;
  background-color: $aquamarine;
  border-radius: 50%;

  @include tablets {
    width: 23px;
    height: 23px;
    top: -2px;
    left: -60px;
  }
}
