.color {
  margin-bottom: 33px;
}

.color-heading {
  margin-bottom: 35px;
}

.color-checkbox {
  height: 38px;
  display: flex;
  align-items: center;

  +.color-checkbox {
    margin-top: 23px;
  }

  label::before {
    width: 38px;
    height: 38px;
    content: "";
    position: absolute;
    top: -8px;
    left: -61px;
    border: 2px solid #000;
  }
}

.filter-input-checkbox:checked+label::after {
  width: 23px;
  height: 16px;
  content: "";
  position: absolute;
  left: -53px;
  top: 3px;
  background-image: url(../img/done.svg);
}
