.telephone {
  margin-bottom: 35px;

  &__heading {
    margin-bottom: 5px;

    @include tablets {
      margin-bottom: 0;
    }
  }

  @include tablets {
    padding: 50px 0 12px 0;
    margin-bottom: 0;
    background-color: $biege;
  }
}

.filter__option {
  .telephone-label {
    margin: 0;
    position: relative;

    &::after {
      content: "";
      width: 25px;
      height: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url(../../img/icons/phone.svg);
      background-repeat: no-repeat;
    }
  }
}
