@import "../elements/card.scss";

.product {
  cursor: pointer;

  +.product {
    margin-top: 30px;

    @include tablets {
      margin-top: 54px;
    }

    @include desktop {
      margin-top: 0;
    }
  }

  &:hover,
  &:focus {
    .product-description {
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    }

    .product__name {
      opacity: 0.6;
    }

    path {
      opacity: 1;
      fill: $aquamarine;
    }

    .nav-text {
      opacity: 0.6;
    }
  }

  &:active {
    .product-description {
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    }

    .product__name {
      opacity: 0.3;
    }

    path {
      opacity: 0.3;
      fill: $aquamarine;
    }
  }

  &-description {
    padding: 28px 28px 26px 28px;
    display: flex;
    flex-direction: column;
    transition: box-shadow .3s ease;

    &__top {
      padding-bottom: 17px;
      display: flex;
      flex-direction: column;

      @include tablets {
        padding-bottom: 0;
      }
    }

    &__bottom {
      padding-top: 23px;
      border-top: 1px solid $gray;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include tablets {
        padding-top: 26px;
      }
    }

    @include tablets {
      width: 50%;
      padding-left: 32px;
      padding-bottom: 22px;
      justify-content: space-between;
    }

    @include desktop {
      width: 100%;
      flex-grow: 1;
    }
  }

  &__name {
    margin-bottom: 5px;
    transition: opacity .3s ease;

    @include desktop {
      margin-bottom: 6px;
    }
  }

  &__characteristics {
    line-height: 30px;

    @include desktop {
      margin-bottom: 12px;
    }
  }

  &__cost {
    font-size: 15px;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;

    @include tablets {
      font-size: 17px;
    }
  }

  &__icon {
    margin-bottom: 4px;
    margin-right: -3px;

    @include tablets {
      margin-bottom: 9px;
      margin-right: 4px;
    }
  }

  @include tablets {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    width: 316px;
    flex-direction: column;
  }
}
