.production-card {
  border: 1px solid $gray;

  &__top {
    padding: 24px 0 26px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
      padding: 40px 13px 25px 42px;
      order: 1;
      justify-content: flex-start;
    }

    @include desktop {
      display: none;
    }
  }

  &__video {
    position: relative;
    margin-bottom: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 78px;
      background-image: url(../../img/icons/play.svg);
      background-repeat: no-repeat;
      transition: all .2s ease;
    }

    &:hover,
    &:focus {
      &::before {
        transform: scale(1.2);
      }
    }

    &:active {
      &::before {
        opacity: 0.3;
        transform: scale(0.8);
      }
    }

    picture {
      @include desktop {
        width: 682px;
      }
    }

    @include tablets {
      margin-bottom: 0;
      order: 0;
    }

    @include desktop {
      width: 682px;
      height: 455px;
    }
  }

  &__heading {
    margin-left: 24px;

    @include tablets {
      margin-left: 0;
    }

    @include desktop {
      margin-top: 25px;
      margin-bottom: 27px;
    }
  }

  &__icon {
    flex-shrink: 0;

    @include tablets {
      margin-right: 33px;
    }
  }

  &__bottom {
    padding: 0 32px;

    .production-card__top {
      @include desktop {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @include tablets {
      padding: 0 40px;
      order: 2;
    }

    @include desktop {
      padding: 47px 40px 10px 79px;
    }
  }

  &__text {
    // text-align: start;
    margin-bottom: 41px;

    @include tablets {
      line-height: 30px;
    }

    @include desktop {
      text-align: start;
      margin-bottom: 51px;
    }
  }

  &__button {
    margin-bottom: 33px;

    @include tablets {
      margin-bottom: 40px;
    }

    @include desktop {
      width: 230px;
      margin-left: 2px;
    }
  }

  @include desktop {
    flex-direction: row;
  }
}
