.develop {
  padding-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.develop-text {
  margin-right: 27px;
  font-family: OpenSansBold;
  font-size: 19px;
  line-height: 18px;
}
