.email__wrap {
  margin-bottom: 35px;
}

.email-heading__wrapper {
  margin-bottom: 5px;
}

.filter-option .email-label {
  margin: 0;
  position: relative;

  &::after {
    content: "";
    width: 32px;
    height: 21px;
    position: absolute;
    top: 15px;
    right: 7px;
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
  }

}
