/****Fonts****/
@font-face {
  font-family: "OpenSans";
  src: local(OpenSans), url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: local(OpenSans), url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
}

/****Colors****/
@import "./elements/variables.scss";

/****Adaptive****/
@import "./elements/mixins.scss";

/****Global****/
.page {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.page-body {
  margin: 0;
  padding: 0;
  color: $black;
  background: $white;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.container {
  max-width: none;
  margin: 0 auto;
  padding: 0 30px;

  @include phones {
    padding: 0;
    max-width: 400px;
  }

  @include tablets {
    max-width: 668px;
  }

  @include desktop {
    max-width: 1050px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

button {
  padding: 0;
}

picture {
  display: flex;
}

/****Elements****/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-heading {
  margin: 0;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  ;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @include tablets {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.standart-text {
  margin: 0;
}

.standart-table {
  width: 100%;
}

/****Header****/
@import "./header/header-top.scss";
@import "./header/header-bottom.scss";
@import "./header/header-heading.scss";

/****Index****/
@import "./index/baskets.scss";
@import "./index/about.scss";
@import "./index/comments.scss";
@import "./index/contacts.scss";
@import "./elements/zigzag.scss";

/****Form****/
@import "./order/form.scss";

/****Catalog****/
@import "./catalog/products.scss";
@import "./catalog/production.scss";

/****Footer****/
@import "./footer/footer.scss";

/****Visibility****/
@import "./elements/adaptive-visibility.scss";
