@import "../elements/mixins.scss";

.header-bottom {
  @include image-1x(url('../../img/index/hero/hero-mobile-1x.jpg'), center, -40px);
  @include image-2x(url('../../img/index/hero/hero-mobile-2x.jpg'), center, -40px);
  @include image-4x(url('../../img/index/hero/hero-mobile-4x.jpg'), center, -40px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    width: 260px;
    margin-top: 73px;
    margin-bottom: 120px;
    text-align: center;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;

    @include tablets {
      width: 100%;
      margin-top: 154px;
      margin-bottom: 372px;
      font-size: 43px;
      line-height: 50px;
    }
  }

  @include tablets {
    @include image-1x(url('../../img/index/hero/hero-tablet-1x.jpg'), center);
    @include image-2x(url('../../img/index/hero/hero-tablet-2x.jpg'), center);
    @include image-4x(url('../../img/index/hero/hero-tablet-4x.jpg'), center);
  }

  @include desktop {
    @include image-1x(url('../../img/index/hero/hero-desktop-1x.jpg'), center, -40px);
    @include image-2x(url('../../img/index/hero/hero-desktop-2x.jpg'), center, -40px);
    @include image-4x(url('../../img/index/hero/hero-desktop-4x.jpg'), center, -40px);
  }
}

@import "../index/offers.scss";
