.main-nav {
  width: 100%;
  position: relative;

  &__toggle {
    width: 21px;
    height: 20px;
    position: absolute;
    top: -50px;
    right: 30px;
    border: none;
    outline: none;
    background-image: url(../../img/icons/menu-close.svg);
    background-repeat: no-repeat;
    background-color: #fff;

    @include tablets {
      display: none;
    }
  }

  &__inner {
    display: block;
    // transform: translateY(0px);
    // transition: all 0.5s ease;

    @include tablets {
      flex-grow: 1;
    }
  }

  &__closed {
    display: none;
    // transform: translateY(-400px);
    // transition: all 0.5s ease;

    @include tablets {
      width: unset;
      display: block;
    }
  }

  &__list {
    margin: 0;
    display: flex;
    flex-direction: column;

    @include tablets {
      height: 88px;
      flex-direction: row;
      align-items: center;
    }
  }

  @include tablets {
    position: static;
    width: 350px;
    display: flex;
  }
}

.menu-closed {
  height: 14px;
  background-image: url(../../img/icons/burger.svg);
}

.user-list {
  .site-search {
    @include tablets {
      width: 84px;
      display: flex;
      justify-content: center;

      .nav-text {
        display: none;
      }

      .site-list-icon {
        position: static;
      }
    }
  }

  .cart {
    @include tablets {
      flex-grow: 1;
    }

    .nav-text {
      @include tablets {
        position: absolute;
        right: 0;
      }
    }
  }

  &__item {

    &:hover,
    &:focus {
      path {
        opacity: 1;
        fill: $aquamarine;
      }

      .nav-text {
        opacity: 0.6;
      }
    }

    &:active {
      path {
        opacity: 0.3;
        fill: $aquamarine;
      }

      .nav-text {
        opacity: 0.3;
      }
    }

    @include tablets {
      border-left: 1px solid rgba($color: $black, $alpha: 0.1);
    }
  }

  @include tablets {
    justify-content: flex-end;
  }
}

.site-list {
  position: relative;

  .nav-text {
    @include tablets {
      margin-left: 0;
    }
  }

  &__item {
    background-color: transparent;

    &+.site-list__item {
      @include tablets {
        margin-left: 36px;
      }

      @include desktop {
        margin-left: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    &:hover,
    &:focus {
      .nav-text {
        opacity: 0.6;
      }
    }

    &:active {
      .nav-text {
        opacity: 0.3;
      }
    }

    @include desktop {
      &:nth-child(1) {
        padding-right: 35px;
      }

      &:nth-last-child(1) {
        padding-left: 35px;
      }
    }
  }

  &__link {
    height: 100%;
    align-items: center;
    display: flex;
  }

  &-icon {
    position: absolute;
    left: 13%;
  }

  &.desktop-active {
    @include desktop {
      width: unset;
      position: static;
      display: flex;
    }
  }

  &::after {

    @include tablets {
      font-size: 15px;
      content: "Бесплатная доставка по России";
      height: 100%;
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
    }

    @include desktop {
      display: none;
    }
  }

  @include tablets {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 88px;
    left: 0;
  }

  @include desktop {
    display: none;
  }
}

.site-list__item,
.user-list__item {
  position: relative;
  height: 79px;
  box-shadow: 0px 1px 0px $gray, inset 0px 1px 0px $gray;
  display: flex;
  align-items: center;

  @include tablets {
    height: 100%;
    box-shadow: none;
  }
}

.bottom-menu {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;

  &__item {
    &+.bottom-menu__item {
      margin-left: 38px;
    }

    .nav-text {
      font-size: 15px;
    }

    &:hover,
    &:focus {
      .nav-text {
        opacity: 0.6;
      }
    }

    &:active {
      .nav-text {
        opacity: 0.3;
      }
    }
  }

  &::after {
    font-size: 15px;
    content: "Бесплатная доставка по России";
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
  }

  @include desktop {
    &.desktop-active {
      display: flex;
    }
  }
}

.nav-text {
  margin-left: 28%;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  transition: opacity .3s ease;

  @include tablets {
    margin-left: 0;
  }
}
