.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__toggle {
  width: 21px;
  height: 20px;
  position: absolute;
  top: -50px;
  right: 30px;
  border: none;
  outline: none;
  background-image: url(../img/menu-close.svg);
  background-repeat: no-repeat;
  background-color: #fff;
}

.menu-closed {
  height: 14px;
  background-image: url(../img/burger.svg);
}

.main-nav__inner {
  display: block;
  // transform: translateY(0px);
  // transition: all 0.5s ease;
}

.main-nav__closed {
  display: none;
  // transform: translateY(-400px);
  // transition: all 0.5s ease;
}

.main-nav-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.site-list__item,
.user-list__item {
  position: relative;
  height: 79px;
  font-family: OpenSansBold;
  font-size: 17px;
  box-shadow: 0px 1px 0px $gray, inset 0px 1px 0px $gray;
  display: flex;
  align-items: center;
}

.site-list-link {
  color: $black;
}

.nav-text {
  margin-left: 28%;
}

.site-list-icon {
  position: absolute;
  left: 13%;
}
