.mobile-active {
  display: block;

  @include tablets {
    display: none;
  }
}

.tablets-active {
  display: none;

  @include tablets {
    display: block;
  }
}

.desktop-active {
  display: none;

  @include desktop {
    display: block;
  }
}
