.card {
  background-color: $white;
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
  }

  &__heading {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;;
    font-weight: 700;
    font-size: 17px;
  }

  &__heading,
  &__text {
    display: inline-block;
  }

  &__text {
    font-size: 13px;
  }
}


@import "./variables.scss";
