.card {
  background-color: $white;
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;

    @include tablets {}
  }

  &__heading {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;

    @include tablets {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 13px;

    @include tablets {
      font-size: 15px;
    }
  }

  &__heading,
  &__text {
    display: inline-block;
  }
}

@import "./variables.scss";
