$desktop: 1150px;
$tablets: 767px;
$phones: 420px;

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (min-width: $phones) {
    @content;
  }
}
