.standart-button {
  width: 100%;
  height: 52px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  background-color: $white;
  border: 2px solid $darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
