.about {
  padding-top: 31px;
  padding-bottom: 58px;

  &__heading {
    margin-bottom: 28px;
  }

  &__list {
    display: grid;
    gap: 33px;
  }

  &__item {
    svg {
      margin-bottom: 20px;
    }

    &-text {
      font-family: OpenSansBold;
      font-size: 17px;
      line-height: 20px;
    }
  }
}
