.baskets {
  position: relative;
  padding-bottom: 36px;
  padding-top: 31px;

  &__top {
    display: flex;
    flex-direction: column;

    @include tablets {
      margin-bottom: 37px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      margin-bottom: 35px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;

    &-image {
      width: 100%;

      @include tablets {
        width: unset;
        // margin-top: 10px;
        position: absolute;
        top: 115px;
        right: 0;
      }

      @include desktop {
        width: unset;
        position: absolute;
        top: 0;
        z-index: -1;
      }
    }

    @include tablets {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__banner {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: $aquamarine;
    text-transform: uppercase;

    @include tablets {
      width: 100px;
      text-align: center;
    }

    @include desktop {
      position: absolute;
      top: 66px;
      left: 0;
    }
  }

  &__heading {
    margin-bottom: 3px;

    @include tablets {
      margin-bottom: 0;
    }
  }

  &__text {
    width: 260px;
    margin: 17px 0 28px 0;

    @include tablets {
      width: 292px;
      margin: 0 0 48px 0;
      font-size: 17px;
      line-height: 30px;
    }

    @include desktop {
      margin-bottom: 55px;
    }
  }

  &__table {
    margin-bottom: 18px;

    tr {
      td {
        border-bottom: 1px solid $gray;
        padding: 4px 0 12px 0;
      }

      &:nth-child(1) {
        td {
          padding-top: 0;
        }
      }
    }

    @include tablets {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 100%;
  }

  &__cost {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets {
      margin-top: 57px;
    }

    @include desktop {
      margin-top: 100px;
    }
  }

  &__button {
    width: 100%;
    height: 52px;
    margin-top: 24px;
    display: flex;

    @include tablets {
      margin-top: 33px;
    }
  }

  .container {
    position: relative;

    @include desktop {
      padding-top: 60px;
      padding-left: 175px;
    }
  }

  @include tablets {
    padding-top: 40px;
    padding-bottom: 52px;
  }

  @include desktop {
    padding-top: 71px;
    padding-bottom: 73px;
  }
}

@import "cost";
