.comments-heading {
  margin-bottom: 14px;
}

.comments {
  position: relative;
  padding-bottom: 45px;

  &::after {
    width: 100%;
    height: 6px;
    content: "";
    position: absolute;
    bottom: -6px;
    background-image: url(../img/zigzag-line.svg);
    background-repeat: repeat-x;
  }
}

@import "slider";
