@import "../elements/standart-button.scss";
@import "../elements/variables.scss";

.contacts {
  padding-top: 38px;
  padding-bottom: 39px;

  .second-heading {
    font-size: 18px;

    @include tablets {
      font-size: 43px;
    }

    @include desktop {
      font-size: 53px;
      line-height: 57px;
    }
  }

  &__heading {
    position: relative;
    margin-bottom: 30px;

    &::after {
      @include tablets {
        content: "";
        width: 47px;
        height: 81px;
        position: absolute;
        right: 3px;
        top: -22px;
        background-image: url(../../img/icons/flag.svg);
        background-repeat: no-repeat;
      }

      @include desktop {
        right: unset;
        top: -16px;
        left: -111px;
      }
    }

    @include tablets {
      margin-bottom: 52px;
    }

    @include desktop {
      margin-bottom: 33px;
    }
  }

  &__button {
    height: 52px;

    @include tablets {
      margin: 0 auto;
      width: 230px;
    }

    @include desktop {
      margin: 0;
    }
  }

  .container {
    @include desktop {
      position: relative;
      padding-left: 175px;
    }
  }

  @include tablets {
    padding-top: 83px;
    padding-bottom: 58px;
  }

  @include desktop {
    position: relative;
    padding-top: 171px;
    padding-bottom: 105px;
  }
}

.adress {
  margin-bottom: 62px;
  display: flex;
  flex-direction: column;

  &__email {
    margin-bottom: 32px;
    line-height: 25px;

    p {
      border-bottom: 1px solid $aquamarine;
      transition: all .3s ease;

      &:hover,
      &:focus {
        color: $aquamarine;
        border-color: #46c1af10;
      }
    }

    @include tablets {
      margin-right: 52px;
    }

    @include desktop {
      line-height: 36px;
      margin-bottom: 25px;
    }
  }

  &__city {
    line-height: 30px;
  }

  &__email,
  &__city {
    font-size: 14px;
    display: flex;
    align-items: flex-start;

    @include tablets {
      font-size: 17px;
    }
  }

  &__name {
    margin-right: 33px;

    @include tablets {
      margin-right: 24px;
    }
  }

  @include tablets {
    margin-bottom: 46px;
    flex-direction: row;
  }

  @include desktop {
    margin-bottom: 84px;
    flex-direction: column;
  }
}

@import "./map.scss";
