.map {
  margin-bottom: 49px;

  &__inner {
    width: 100%;
    height: 454px;
    position: relative;

    @include image-1x(url('../../img/index/map/map-mobile-1x.png'), center);
    @include image-2x(url('../../img/index/map/map-mobile-2x.png'), center);
    @include image-4x(url('../../img/index/map/map-mobile-4x.png'), center);
    background-position: center;

    @include tablets {
      height: 457px;
      @include image-1x(url('../../img/index/map/map-tablet-1x.png'), center);
      @include image-2x(url('../../img/index/map/map-tablet-2x.png'), center);
      @include image-4x(url('../../img/index/map/map-tablet-4x.png'), center);
    }

    @include desktop {
      width: 527px;
      @include image-1x(url('../../img/index/map/map-desktop-1x.png'), 100%);
      @include image-2x(url('../../img/index/map/map-desktop-2x.png'), 100%);
      @include image-4x(url('../../img/index/map/map-desktop-4x.png'), 100%);
    }

    &::before {
      content: "";
      position: absolute;
      width: 67px;
      height: 100px;
      background-image: url(../../img/icons/map-pin.svg);
      background-size: cover;
    }
  }

  @include tablets {
    margin-bottom: 55px;
  }

  @include desktop {
    width: 1050px;
    margin: auto;
    position: absolute;
    top: 92px;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
  }
}
