.modal-basket {
  width: 100%;
  border-top: 1px solid #C6C6C6;
  border-bottom: 1px solid #C6C6C6;
  box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);

  &__inner {
    width: 100%;
    padding: 28px 30px 46px 30px;
    background-color: $white;

    .modal__text {
      margin-bottom: 21px;
      display: flex;
      justify-content: center;

      @include tablets {
        margin-bottom: 19px;
      }
    }

    @include tablets {
      padding: 37px 108px 46px 108px;
    }
  }

  &__heading {
    margin-bottom: 14px;
    text-align: center;
    text-transform: uppercase;

    @include tablets {
      margin-bottom: 11px;
      font-size: 29px;
      line-height: 57px;
    }
  }

  @include tablets {
    width: 565px;
    border: 1px solid #C6C6C6;
  }

  @include desktop {}
}

.size-buttons {
  width: 100%;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;

  &__radio {
    width: 31%;
    display: flex;

    label {
      height: 52px;
      color: $darkgray;
      font-weight: 700;
      border: 2px solid rgb(237, 237, 237);
      cursor: pointer;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__input {
    &:checked {
      &+label {
        border: 2px solid $aquamarine;
      }
    }
  }

  @include tablets {
    margin-bottom: 32px;
  }
}
